 
.auth-help-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.logo-image {
  width: 50%;
}

login-form {
  width: 70%;
}

custom-alert {
  width: 80%;
}

custom-button {
  width: 60%;
}

.gif-image {
  height: auto; /* Redimensionnement proportionnel */
  max-width: 100%; /* Largeur maximale */
}
