 
<h2>Contactez-nous</h2>
<div>
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <title>Contact Us</title>
    </head>
    <body>
      <a class="brand-logo" href="javascript:void(0);">
        <a class="text-body" data-dismiss="modal" aria-label="Close" (click)="Annuler()"
        ><button type="button" class="btn-close" aria-label="Close"><b class="text-red">X</b></button></a>
    
    </a>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Contactez-nous</h5>
                <p class="card-text">
                  <strong>Email:</strong> <i class="fas fa-envelope"></i><a href="mailto:info@franciliesn.ly">info@transporteurFran.com</a>
                </p>
                <p class="card-text">
                    <i class="fas fa-phone"></i> <strong>Téléphone:</strong> +330953308000
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <i class="fas fa-map-marker-alt"></i>
                <h5 class="card-title">Emplacement</h5>
                <p class="card-text">
                  <!-- Add your location information here -->
                  <!-- Example: -->
                  Les Transporteurs Franciliens
3 Rue JULES GUESDE
91130 RIS-ORANGIS
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                  <!-- Add your map embed code here -->
                  <!-- Example: -->
                  <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12345.67890!2d0.000000!3d0.000000!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zOcKwMDAnMTQuMCJTIDDCsDIwJzA2LjYiVw!5e0!3m2!1sen!2sus!4v1637639718365!5m2!1sen!2sus" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Bootstrap JS and Popper.js (Optional, for Bootstrap features) -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>
    
</div>