
<a class="brand-logo" href="javascript:void(0);">
    <a class="text-body" data-dismiss="modal" aria-label="Close" (click)="Annuler()"
    ><button type="button" class="btn-close" aria-label="Close"><b class="text-red">X</b></button></a>

</a>
<h2 style="text-align: center;">About</h2>

<div style="text-align: left;">
    L'objectif de Françliens est d'être le lieu de référence pour le locateur et vendeur en France. 
    Nous voulons être l'endroit où les gens peuvent trouver toutes les propriétés disponibles à la vente ou à la location, dans n'importe quel quartier, à n'importe quel stade de développement.

    Nous croyons que Françliens peut être une ressource précieuse tant pour les acheteurs que pour les vendeurs. 
    Pour les acheteurs, nous proposons une grande variété de propriétés à choisir, et nous facilitons la comparaison des prix pour trouver la voiture parfaite. Pour les vendeurs, nous offrons une plateforme pour atteindre un public plus large et présenter leurs propriétés à davantage d'acheteurs potentiels.

    Nous sommes ravis de faire partie du marché véhicule en France, et nous nous engageons à avoir un impact positif sur la vie de toutes les personnes impliquées.
</div>
