
<div class="image-container">
    &nbsp;
<h2>Paiement en ligne</h2>
<script src="https://www.paypal.com/sdk/js?client-id=AcFWoaDVrhvkiwRdDT4nSXHuc2pgYrGnqJD4ZFX48o3G628Pmkf62I6f0NDhThQfwY9B3TFLool9uv1N"></script>



<a class="text-body" data-dismiss="modal" aria-label="Close" (click)="closeCompose()"
            ><i data-feather="x" style="color:red; bottom:blue;"><button type="button" class="btn-close" aria-label="Close">X</button></i>
            </a>

 
 
<hr class="continuous-line">
<form  [formGroup]="editForm" enctype="multipart/form-data"    >
<table  >
 
    <tr>
        <td>
<img src="assets/images/carte-visa.jpg" width="40px"> &nbsp;&nbsp;
<img src="assets/images/carteVisa1.jpg" width="50px"> &nbsp;&nbsp;
<img src="assets/images/MasterCard.png" width="50px">
&nbsp;&nbsp;
<img src="assets/images/nickel.png" width="50px">
&nbsp;&nbsp;
<img src="assets/images/Zero.jpg" width="50px">
&nbsp;&nbsp;
<img src="assets/images/Ing.jpg" width="50px">
<p></p>
</td></tr>


<tr>
    <td><div class="input-group" >
        <div class="input-group-prepend" >
        <label for="payment-method"><strong>Méthode de Paiement</strong></label>
        <select id="payment-method" formControlName="pay" (change)="select()">
          <option value="card">Carte de Crédit</option>
          <option value="cash" >Espèces</option>
        </select>
        </div>
        </div>
    </td>
    
                   </tr> 
<tr>
    <tr>
        <td> 
            
                
<tr>
    <td> 
        <div class="input-group">
            <div class="input-group-prepend">
            
                <span class="input-group-text"><i class=" fa fa-credit-card"></i></span>
            </div>
            <input type="text" class="transparent-input" placeholder="Email" height="40px" formControlName="email">
            
            </div>
          <div class="input-group">
            <div class="input-group-prepend">
            
                <span class="input-group-text"><i class=" fa fa-credit-card"></i></span>
            </div>
            <input type="text" class="transparent-input" placeholder="Saisir numéro du carte" height="40px" formControlName="numeroCarte">
            
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                
                    <span class="input-group-text"><i class=" fa fa-money"></i></span>
                </div>
                <input type="text" class="transparent-input" placeholder="Amount" height="40px" formControlName="Amount">
                
                </div>
    </tr>
    
        
            <tr>
                <td> 
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar"></i></span>
                        </div>
                        <input type="text" class="transparent-input" height="40px" formControlName="payementDate" placeholder="payementDate"  onfocus="(this.type='date')">
                    </div>
                
                    
     <tr  >
        
    <td> <p></p>   <button class="btn btn-danger" (click)="Annuler()"><i class="fas fa-times" style="width:15px;height:22px;"  ></i> Annuler</button> 
    <button class="btn btn-primary"  (click)="createCharge()"><i class="fas fa-check" style="width:15px;height:22px;"></i> Valider</button> 
</td>
<tr >

 
        <td  >  <p></p>
            <img src="assets/images/info.png" width="20px"><span class="textColor"> Pour annuler votre paiement cliquer sur Annuler</span></td>

            <td *ngIf="active" >  <p></p>
                <img src="assets/images/info.png" width="20px"><span class="textColor" > <p>Veuillez payer en espèces à notre bureau principal. Voici l'adresse :</p>
                </span></td>
    
        </tr>
     </tr>
     <td>
        
    
     </td>
   
     
      



<style>
    .mont{
        color:#e05017;
        font-weight:bold;
    } 
       .textColor{
      color: red;
    font-weight: bold;
    }
.continuous-line {
    border: none;
    border-top: 5px solid #969796;
  }
   
   
  .image-container {
        background-image: url('assets/images/Arriere.png'); /* Chemin vers votre image */
        background-size: cover; /* Pour que l'image couvre tout le conteneur */
        width: 600px; /* Largeur de l'image */
        height: 600px; /* Hauteur de l'image */
    }
 
    .transparent-input {
            background-color: transparent ;
            border: 1px solid #080202; /* Ajoutez une bordure si nécessaire */
            padding: 5px; /* Ajoutez un espacement interne pour améliorer l'apparence */
       color:rgb(14, 13, 13);
      font-weight: bold;
      
      
       }
  ::placeholder{
    color:rgb(12, 12, 14)
  }
</style>

</table>
</form>
</div>
