<div  >
    <form [formGroup]="registerForm">
    <a class="brand-logo" href="javascript:void(0);">
        <a class="text-body" data-dismiss="modal" aria-label="Close" (click)="Annuler()"
        ><button type="button" class="btn-close" aria-label="Close"><b class="text-red">X</b></button></a>
  
    </a>
    <h2>Créer nouveau Mot de passe</h2>
    <div>
        <label>Nouveau mot de passe </label>
        <input type="text"   formControlName="password" id="password"    >
         
        
      </div>
    <button (click)="resetPassword()">Valider</button>
   
   <div>
   
   </div>

    <div *ngIf="resetSuccess">
      <p>Password reset successfully!</p>
     
    </div></form>
  </div>
