.zoom_area{
    margin: 30px auto;
    position: relative;
    width:400px;
}
.zoom{
    border-radius: 100%;
    box-shadow: 0 0 0 7px rgba(255,255,255,0.85),0 0 7px 7px rgba(20,20,20,0.25),inset 0 0 40;
    height: 175px;
    width: 175px;
}
.zoom_area img{
    width: 400px;
}