<a class="brand-logo" href="javascript:void(0);">
    <a class="text-body" data-dismiss="modal" aria-label="Close" (click)="Annuler()"
    ><button type="button" class="btn-close" aria-label="Close"><b class="text-red">X</b></button></a>

</a>

 
<h2 style="text-align: center;">Conditions Générales</h2>

 

<div style="text-align: left;">
<br>1. **Qui nous sommes et comment nous contacter**

   www.françliens.com est un site web (le "Site") détenu et exploité par Landmark Management et ses filiales dans le monde entier ("nous", "nos" et "notre").

   Pour nous contacter, veuillez envoyer un e-mail à info@françliens.fr

   <br>2. **Vous acceptez ces conditions en utilisant le Site**

   Ces conditions d'utilisation du site web ("Conditions") constituent un accord légal entre nous et vous. En utilisant le Site, vous confirmez que vous acceptez ces Conditions et que vous vous engagez à les respecter. Si vous n'acceptez pas et n'acceptez pas de vous conformer à ces Conditions, vous ne devez pas utiliser le Site.

   Vous ne pouvez pas utiliser le Site et ne pouvez pas accepter ces Conditions si (a) vous n'avez pas dix-huit (18) ans, ou (b) vous êtes une personne interdite ou légalement empêchée de recevoir ou d'utiliser le Site en vertu des lois du pays où vous résidez ou à partir duquel vous accédez ou utilisez le Site.

   Vous êtes responsable de vous assurer que toutes les personnes qui utilisent le Site via votre réseau sont informées de ces Conditions et d'autres termes et conditions applicables, et qu'elles s'y conforment.

   <br>3. **Il existe d'autres termes qui peuvent s'appliquer à vous**

   Ces Conditions intègrent les termes supplémentaires suivants, qui s'appliquent également à votre utilisation du Site : notre Politique de Confidentialité ; et si vous téléchargez notre application mobile, nos Conditions d'Utilisation de l'Application.

   <br>4. **Comment nous traitons vos informations personnelles**

   Nous ne collecterons et ne traiterons vos informations personnelles qu'en conformité avec notre Politique de Confidentialité.

   <br>5. **Comment vous pouvez utiliser le matériel sur le Site**

   Nous sommes propriétaires ou titulaires de toutes les droits de propriété intellectuelle du Site et du matériel publié sur celui-ci. Ces œuvres sont protégées par les lois et traités sur les droits d'auteur dans le monde entier. Tous ces droits sont réservés.

   Nous, ainsi que nos fournisseurs et concédants de licence, nous réservons expressément tous les droits de propriété intellectuelle sur tout texte, programme, produit, processus, technologie, contenu et autres matériaux, qui apparaissent sur le Site. L'accès au Site ne confère pas et ne doit pas être considéré comme conférant à quiconque une licence sous l'un de nos droits de propriété intellectuelle ou de tiers. Toute utilisation du Site ou de son contenu, y compris sa copie ou son stockage en totalité ou en partie, autre que pour votre usage personnel et non commercial, est interdite sans notre permission. Vous ne pouvez pas modifier, distribuer ou reposter quoi que ce soit sur le Site à des fins quelconques.

   Nos noms et logos ainsi que tous les noms de produits et de services connexes, marques de conception et slogans sont des marques commerciales ou des marques de service de notre part ou de nos concédants de licence. Aucune licence de marque commerciale ou de marque de service n'est accordée en relation avec les matériaux contenus sur le Site.

   L'accès au Site n'autorise personne à utiliser un nom, un logo ou une marque d'aucune manière que ce soit.

   Vous pouvez télécharger temporairement des copies du matériel (informations ou logiciels) sur le Site pour une consultation personnelle, non commerciale et transitoire uniquement, et vous pouvez attirer l'attention d'autres personnes au sein de votre organisation sur le contenu publié sur le Site.

   Vous ne devez pas modifier les copies papier ou numériques de tout matériel que vous avez imprimé ou téléchargé de quelque manière que ce soit, et vous ne devez pas utiliser d'illustrations, de photographies, de séquences vidéo ou audio, ou de graphiques séparément de tout texte accompagnant.

   Notre statut (et celui de tout contributeur identifié) en tant qu'auteurs de contenu sur le Site doit toujours être reconnu.

   Vous ne devez utiliser aucune partie du contenu du Site à des fins commerciales sans obtenir une licence de notre part ou de nos concédants de licence.

   Si vous imprimez, copiez ou téléchargez une partie du Site en violation de ces Conditions, votre droit d'utiliser le Site cessera immédiatement et vous devrez, à notre discrétion, retourner ou détruire toutes les copies du matériel en votre possession, qu'elles soient sous forme électronique ou imprimée.

   <br>6. **Vous devez garder en sécurité les détails de votre compte**

   Si vous choisissez, ou si on vous fournit, un code d'identification d'utilisateur, un mot de passe ou toute autre information dans le cadre de nos procédures de sécurité, vous devez traiter ces informations comme confidentielles. Vous ne devez les divulguer à aucun tiers.

   Nous avons le droit de désactiver toute identification d'utilisateur, code ou mot de passe, que vous avez choisi ou qui vous a été attribué, à tout moment, si, à notre avis raisonnable, vous avez omis de respecter l'une des dispositions de ces Conditions.

   Si vous savez ou soupçonnez que quelqu'un d'autre que vous connaît votre code d'identification d'utilisateur ou votre mot de passe, vous devez nous en informer à info@françliens.fr

   <br>7. **Comment vous ne devez pas agir lors de l'utilisation du Site**

   Vous ne devez pas poser un acte que nous considérerions comme inapproprié, illégal ou interdit par les lois applicables au Site, y compris, mais sans s'y limiter :

   - utiliser tout dispositif automatisé, processus logiciel ou moyen pour accéder, récupérer, extraire ou indexer le Site ou tout contenu sur le Site ;
   - utiliser tout dispositif, logiciel, processus ou moyen pour interférer ou tenter d'interférer avec le bon fonctionnement du Site ;
   - entreprendre toute action qui imposera une charge ou créera des demandes de trafic excessives sur notre infrastructure que nous considérons comme une utilisation déraisonnable ou disproportionnée du Site ;
   - tenter de déchiffrer, décompiler, désassembler ou inverser tout logiciel composant ou constituant de quelque manière
</div>